* {
  font-family: 'Times New Roman'; /* 所有数字和英文字体都用 Times New Roman */
  line-height: 1.5; /* 1.5倍行距 */
}
h1 { /* 中文题目: 二号黑体 */
  font-size: 29px;
  font-weight: normal;
  font-family: '黑体';
  text-align: center;
  margin-top: 0;
  margin-bottom: 14.5px;
}
.author { /* 作者姓名: 四号仿宋 */
  font-size: 18px;
  font-family: '仿宋';
  text-align: center;
}
.school { /* 作者单位: 小五宋体 */
  font-size: 12px;
  font-family: '宋体';
  text-align: center;
  margin-top: 3px;
  margin-bottom: 29px;
}
.abstract { /* 摘要和关键词: 五号宋体 */
  font-size: 14px;
  font-family: '宋体';
  margin-top: 9px;
  margin-bottom: 4.5px;
  &::before { 
    content: '摘　要';
    font-family: '黑体';
    display: inline-block;
    margin-right: 14px;
  }
}
.keywords { 
  font-size: 14px;
  font-family: '宋体';
  margin-top: 0;
  margin-bottom: 29px; 
  &::before { 
    content: '关键词';
    font-family: '黑体';
    display: inline-block;
    margin-right: 14px;
  }
}
h2 { /* 一级标题: 四号宋体 */
  font-size: 18px;
  font-weight: normal;
  font-family: '宋体';
  margin: 9px 0;
}
h3 { /* 二级标题: 五号黑体 */
  font-size: 14px;
  font-weight: normal;
  font-family: '黑体';
  margin: 7px 0;
}
h4 { /* 三级标题: 五号黑体 */
  font-size: 14px;
  font-weight: normal;
  font-family: '黑体';
  margin: 7px 0;
}
p { /* 正文: 五号宋体 */
  font-size: 14px;
  font-family: '宋体';
  text-indent: 2em;
  text-align: justify;
  margin: 7px 0;
}
h5 { /* "参考文献": 五号黑体 */
  font-size: 14px;
  font-weight: normal;
  font-family: '黑体';
  text-align: center;
  margin: 7px 0;
}
ul { /* 参考文献的项目: 小五号宋体 */
  list-style-type: none;
  padding: 0;
  & > li { 
    font-size: 12px;
    font-family: '宋体';
    margin: 6px 0;
    text-align: justify;
    text-indent: -24px;
    padding-left: 24px;
  }
  & a {
    text-decoration: none;
    font-family: '宋体';
    color: black;
  }
}
.image-title { /* 图片的标题: 小五号宋体 */
  font-size: 12px;
  font-weight: normal;
  font-family: '宋体';
  text-align: center;
  margin: 6px 0;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.table-title { /* 表格的标题: 小五号宋体 */
  font-size: 12px;
  font-weight: normal;
  font-family: '宋体';
  text-align: center;
  margin: 6px 0;
}
table { /* 表格: 小五号宋体 */
  font-size: 12px;
  font-family: '宋体';
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  & th {
    font-weight: normal;
  }
  & thead::after { /* 用来做三线表中间的横线 */
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid #00000060;
    width: 100%;
  }
}